.App {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.task-list {
  flex: 0 0 30%; /* Adjust the width as needed */
}

.gantt-container {
  flex: 1;
  margin-left: 20px; /* Add spacing between task list and Gantt chart */
}


.bar {
  fill: #4CAF50; /* Change the fill color of the bars */
}

/* Style for the bar label */
.bar-label {
  font-size: 14px; /* Change the font size of the bar labels */
  fill: #FFFFFF; /* Change the fill color of the bar labels */
}

/* Style for the bar progress */
.bar-progress {
  fill: #FFC107; /* Change the fill color of the progress bar */
}


